/* General CSS which affects whole page */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Frank Ruhl Libre', serif;
  margin: 0;
}

p {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
}

.white-text {
  color: white;
}

a.btn {
  background: white;
  padding: .7em 2.5em;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: bold;
  color: black;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1)
}

/* ~~~~~~~~~~~~~~Landing page ~~~~~~~~~~~~~~~~ */

/* Hero section */
.hero-main {
  height: 100vh;
  background: #C7DDEA;
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  
}

.hero-main h1 {
  margin-top: 70px;
  font-size: 45px;
}

.hero-main p {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

.hero-main a {
  align-self: flex-start;
  margin-top: 40px;
}

.hero-main img {
  align-self: center;
  max-width: 100%;
  margin-top: 40px;
}

.hero-learn-more {
  background: #F17949;
}

.hero-join-today {
  background: #FAB131;
}



/* Navigation */

/* Financial safety net */

/* About us */

/* How it works */

/*Footer link */

/*Footer box*/

/* ~~~~~~~~~~~~~~Contact page ~~~~~~~~~~~~~~~~ */

/* Hero section */

/* Contact section */

/* Map section */

/* ~~~~~~~~~~~~~~Media Queries Landing page ~~~~~~~~~~~~~~~~ */

/* Hero section */

/* Navigation */

/* Financial safety net */

/* About us */

/* How it works */

/*Footer link */

/*Footer box*/

/* ~~~~~~~~~~~~~~ Media Queries Contact page ~~~~~~~~~~~~~~~~ */

/* Hero section */

/* Contact section */

/* Map section */